.container {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    height: 800px;
    gap: 1rem;
    background-color: #05121b;
    border: 5px solid #f2d3a4;
    box-shadow: inset 6px 6px 0px #d3b88f,
        inset -6px -6px 0px #ffeeb9;
}

.hero-image-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-image {
    margin: 2rem;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-info {
    font-size: 16px;
    color: white;
    padding: 1rem 0;
}

.buttons {
    gap: 1rem
}

.button {
    margin: .5rem;
    width: 200px;
    height: 3rem;
    background-color: #05121b;
    color: white;
    font-size: 14px;

    box-shadow: inset 6px 6px 0px #d3b88f,
        inset -6px -6px 0px #ffeeb9;
}

.button:focus {
    box-shadow: inset -6px -6px 1px #313131,
        inset 6px 6px 1px #4d4d4d;
}

.error-message {
    color: #fff;
    background-color: red;
    padding: .5rem;
}

.hero-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {

    * {
        font-size: 10px;
    }

    .container {
        width: 300px;
        height: 500px;
    }

    .hero-image-container {
        margin-top: .5rem;
    }

    .hero-image {
        height: 100px;
        width: 100px;
        margin: .5rem;
    }

    .input-info {
        padding: 4px;
    }

    .hero-details {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .input-info {
        font-size: 10px;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .button {
        width: 100px;
        height: 4rem;
    }

    mat-form-field {
        width: 150px;
    }

    @media (max-width: 768px) and (orientation: landscape) {

        .hero-image {
            height: 200px;
            width: 200px;
            margin: .5rem;
        }
        .container {
            height: 250px;
            width: 550px;
            display: flex;
            flex-direction: row;
        }
      }
}